.timingdays {
    border-left: 2px solid #008B75;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    font-family: Lato bold;
    font-size: 13px;
    color: black;
}
.timingdays1 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    font-family: Lato bold;
    font-size: 13px;
    color: black; 
}

.initial1 {
    padding-left: 5px;
    font-family: Lato bold;
    font-size: 9px;
    color: black;
}

.initial2 {
    padding-left: 29px;
    font-family: Lato bold;
    font-size: 9px;
    color: black;
}

.initial3 {
    padding-left: 29px;
    font-family: Lato bold;
    font-size: 9px;
    color: black;
}

.initial4 {
    padding-left: 30px;
    font-family: Lato bold;
    font-size: 9px;
    color: black;
}

.beforedealends {
    font-family: Lato bold;
    font-size: 9px;
    color: black;   
}
.timeclock {
    margin-left: -43px;
    padding-right: 10px;
}