.topsection {
    margin-left: 100px;
}

.Reserve {
    margin-left: -40px;
    font-size: 18px bold;
    margin-top: 50px;
    padding-bottom: 20px;
}

h8 {
    margin-left: -40px;
    font-size: 14px;
    padding-bottom: 70px;
    display: inline-block;
    font-family: poppins;
}

.dropsection {
    display: inline;
    font-family: poppins;
    font-size: 14;
    margin-left: 320px;
    padding-right: 30px;
    padding-left: 30px;
}

.price {
    padding-left: 20px;
    border: 0px !important;
}

.miles {
    border: 0px;
    padding-right: 10px;
}

.deals {
    padding-left: 10px;
    border: 0px;
}

.redeemall {
    background-color: #FF4E00;
    margin-top: -90px;
    margin-left: -41px;
}

.bottomline {
    color: #E6EDF6;
    border: 1px solid;
    width: 100%;
}

.backbtn {
    background-color: white;
    margin-top: 10px;
    width: 150px;
    color: #FF4E00;
    border-color: #FF4E00;
}

.botnumb {
    display: inline-block;
    margin-left: 120px;  
}
