.CustReviewimg {
    border-radius: 50%;
    display: inline-block;
    width: 130px;
    height: 130px;  
    margin-left: 42px;  
    margin-top: 30px;
   
}
.relatedcustreview {
    width: 17%;
   float: left;
   margin-left: 35px;
 }
 .custreviewname {
     padding-bottom: 20px;
     padding-top: 20px;
     text-align: center;
 }
 .reviewstate {
     font-family: Poppins;
     font-size: 14px;
     text-align: center;
 }
 .relatedstars2 {
     margin-left: 20px;
 }