.indcoupback {
    font-family: Poppins;
    color: #000000;
    font-size: 16px bold;
}

.datepage2 { 
    margin-left: 535px;
.timingdays {
    border-left: 3px solid #008B75;
    padding-left: 40px;
    padding-right: 35px;
    margin-top: 60px;
    font-family: Merriweather bold;
    font-size: 24px;
    color: black;    
}

.initial1 {
    padding-left: 30px;
    font-family: Poppins bold;
    font-size: 16px;
    color: #008B75;
}

.initial2 {
    padding-left: 52px;
    font-family: Poppins bold;
    font-size: 16px;
    color: #008B75;
}

.initial3 {
    padding-left: 28px;
    font-family: Poppins bold;
    font-size: 16px;
    color: #008B75;
}

.initial4 {
    padding-left: 19px;
    font-family: Poppins bold;
    font-size: 16px;
    color: #008B75;
}

.beforedealends {
    font-family: Poppins;
    font-size: 14px;
    color: gray;   
}
}
.indcoupline {
    margin-left: 255px;
    margin-right: 255px;
    color: #008B75;
    width: 1095px;
    margin-left: 155px;   
}
.mainpic {
    width: 538px;
    height: 418px;
    margin-left: 172px;  
    float: left;
    margin-top: 10px;    
}
.titleindcoup {
    display: inline-block;
    font-family: Merriweather bold;
    font-size: 30px;
     
    padding-left: 43px;  
}
.fa-share-alt {
    margin-left: 400px;
    color: #FF4E00
}
.indcoupline2 {
    margin-left: 155px;
    // margin-right: 255px;
    color: #008B75;
    margin-top: 50px;
    width: 1095px;
}
.indbussiness {
    font-size: 44px;
    font-family: Merriweather bold; 
    padding-left: 15px;         
}
.indcoupline3 {
    margin-left: 155px;
    margin-right: 255px;
    color: #008B75;
    width: 1095px;
   
}
.vl1 {
    border-left: 2px solid #008B75;   
}
h6 {
    font-size: 16px;
    color: #008B75;
}
.indorigprice {
    font-size:24;
    text-decoration: line-through;
    margin-left: 1110px;
}
.indprice {
    font-size: 48px;  
    margin-left: 1100px;  
}
.xmiles {
    color: #000000;
    font-family: Poppins;
    margin-top: 140px;
    margin-left: 170px;

}
.indreservebtn {
    width: 203px;
    height: 46px;
    text-align: center;
    float: right;
    color: white;
    background-color:#FF4E00;
    border-color: transparent;
    margin-right: 380px;
    margin-top: 15px;
}
.indtextinfo {
    font-size: 16px;
    font-family: Poppins;
    padding-left: 25px; 
    margin-left: 730px;  
    margin-right: 200px;  
    color: #666666;  
}
.indaddress {
    font-size: 16px;
    font-family: Poppins;
    padding-left: 25px; 
    margin-left: 730px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.indpercentoff {
    font-family: Poppins;
    font-size: 28px;
    color: #000000;
    margin-left: 938px;
}
.beforedealends2 {
   margin-left: 110px;
   margin-bottom: 15px;
}

.indbussiness {
    margin-top: 45px;
    margin-left: 55px;
}
.indinfobusiness {
    margin-top: 25px;
    margin-left: 75px;  
    margin-right: 60px;
    color: #666666;
    font-family: Poppins;
    font-size: 16px;
}
.followLC {
    float: right;
    margin-right: 55px;
    color: #008B75;
    margin-top: 35px;
}
.relproducts {
    text-align: center;
    padding-top: 25px;
    font-family: Merriweather;
    color: 5A5A5A;
}
.firstrecommended {
  width: 40%;  
  margin-left: 130px;
  flex: 0 0 40%;
}
.secondrecommended {
    width:40%;
    flex: 0 0 40%;
}
.indcoupline4 {
    color:#008B75;
    margin-left: 255px;
    margin-right: 255px;
    color: #008B75;
    width: 1095px;
    margin-left: 155px;  
}
.indreviewmain {
    display: inline-block;
}